@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
}

.clippath {
  clip-path: polygon(
    24% 10%,
    86% 14%,
    100% 28%,
    100% 70%,
    100% 100%,
    50% 100%,
    0 100%,
    0% 70%,
    0 38%,
    0 0
  );
}
#screen_dot {
  animation: screen 6s linear infinite forwards;
}

@keyframes log {
  0% {
    fill: rgb(200, 206, 188);
  }

  50% {
    fill: #f9a826;
  }
  100% {
    fill: rgb(47, 44, 227);
  }
}
#screen_top {
  animation: screen 2s linear infinite forwards;
}
#screen_bottom {
  animation: screen 2s linear -1s infinite forwards;
}
@keyframes screen {
  0% {
    fill: #e6e6e6;
  }

  50% {
    fill: #f9a826;
  }
  100% {
    fill: #e6e6e6;
  }
}
